body {
	background-color: black;
	margin: 0;
}
main {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap;
}
div {
	flex: auto;
	width: 200px;
	margin: 5px;
}
img {
	width: 100%;
	height: auto;
}
