body {
	display: grid;
	grid-gap: 9px;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
.textIntroduction {
	grid-column:1/2;
  	grid-row: 1;
}
.textAdditional {
	grid-column:1/2;
  	grid-row: 2;
}
.linksActions {
	grid-column:2;
  	grid-row: 1;
}
.linksStuff {
	grid-column:2;
  	grid-row: 2;
}
ul {
	padding: 0;
	background: #dce5ea;
}
li {
	list-style-type: none;
	background: #edf2f5;
	padding: 3px;
	margin: 2px;
}
h3 {
	background: #0f1c3f;
	color: #deeef4;
	padding: 3px;
	margin: 0;
}
@media all and (max-width:600px) {
	body {
		grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
		grid-template-columns: 1fr;
	}
	.textIntroduction {
	  	grid-row: 1;
	  	grid-column: 1;
	}
	.linksActions {
	  	grid-row: 2;
	  	grid-column: 1;
	}
	.linksStuff {
	  	grid-row: 3;
	  	grid-column: 1;
	}
	.textAdditional {
	  	grid-row: 4;
	  	grid-column: 1;
	}
}
@media all and (min-width: 600px) and (max-width: 800px)  {
	body {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.textIntroduction {
		grid-column:1/3;
	  	grid-row: 1;
	}
	.linksActions {
		grid-column:1;
	  	grid-row: 2;
	}
	.linksStuff {
		grid-column:2;
	  	grid-row: 2;
	}
	.textAdditional {
		grid-column:1/3;
	  	grid-row: 3;
	}

}
